html {
    font-size: $global-font-size;
}

body {
    color: $font-color;
    font-family: $body-font-family;
    line-height: $global-lineheight;
    word-spacing: $global-word-spacing;
    -ms-text-size-adjust: $global-font-size;
    -webkit-text-size-adjust: $global-font-size;
}


.container {
    max-width: $global-width;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &.main {
        padding: 0 1rem;
    }
}

.sidebar {
    flex: 0 0 100%;
    margin-top: 3rem;
}

.main-content {
    flex: 0 0 100%;
}

.main {
    margin: 3rem auto;
}

small {
    font-size: 88%;
}

strong {
    font-weight: bold;
}

.show-for-sr, .show-on-focus {
    clip: rect(0,0,0,0);
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    white-space: nowrap;
    width: 1px;
}

h1, h2, h3 {
    font-weight: 700;
    font-family: $sec-font-family;
    line-height: 1.2;
}
h1 {
    font-size: rem-calc(35);
    margin-bottom: 1.5rem;
}
h2 {
    font-size: rem-calc(30);
    margin-bottom: 1.25rem;
}
h3 {
    font-size: rem-calc(25);
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1.5rem;
}

b {
    font-weight: bold;
}
.Apple-interchange-newline {
    display: none;
}

a {
    transition: all 200ms ease-in-out;
    font-weight: 600;
    display: inline-block;
    color: get-color('blue');
    &:hover {
        color: darken(get-color('blue'), 5%);
        text-decoration: underline;
    }
}

table {
    margin-bottom: 1rem;
    td, th {
        padding: 1rem;
        border: $global-border;
    }
}
.md-show {
    display: none;
}

.err-msg {
    color: get-color('red');
    font-weight: 600;
    margin-left: 1rem;
    display: none;
}


@media screen and #{breakpoint(large)} {
    .main-content {
        flex: 1 1 0;
        padding-right: 3rem;
    }
    .sidebar {
        flex: 0 0 25%;
        margin-top: 0;
    }
    .md-hide {
        display: none;
    }
    .md-show {
        display: block;
    }
}
mark[data-markjs="true"] {
    background-color: rgba(get-color('yellow'), 0.4);
}

.margin-2 {
    margin: 2rem;
}

@media screen and #{breakpoint(xlarge)} {
    .container {
        padding: 0;
    }
}