{{ $featured_image := partial "func/GetFeaturedImage.html" . }}

{{ if $featured_image }}
  <div class="img-wrapper">
    <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
    {{ partial "card-terms.html" (dict "taxonomy" "tags" "page" .) }}
  </div>
{{ end }}
<div class="detail-wrapper">
  <h2 class="post-title">{{ .Title | safeHTML }}</h2>
  <div class="top-detail">
    {{ partial "author.html" (dict "taxonomy" "authors" "page" .) }} | <span class="date">{{ .Date.Format .Site.Params.dateFormat }}</span>
  </div>
  <p class="excerpt">{{ .Summary | safeHTML }}</p>
  <a href="{{.RelPermalink}}" class="read-more">Read More <span class="show-for-sr">About {{ .Title | safeHTML }}</span></a>
  <div class="post-detail">
      <span class="read-time">{{ .ReadingTime }} min read</span>
  </div>
</div>
