@use "../../settings";

.button {
    appearance: none;
    border-radius: settings.$button-radius;
    box-shadow: settings.$button-box-shadow;
    background: settings.$button-background;
    color: settings.$white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    padding: settings.$button-padding;
    text-align: center;
    transition: settings.$button-transition;
    vertical-align: middle;
    &:hover {
        background-color: settings.$button-background-hover;
        box-shadow: settings.$button-hover-box-shadow;
    }
    &.hollow {
        border: settings.$button-hollow-border;
        background-color: transparent;
        box-shadow: settings.$button-hollow-box-shadow;
        color: settings.$button-background;
        &:hover, &:active, &:focus {
            border: settings.$button-hollow-border;
            background-color: rgba(settings.$button-background, .2);
            box-shadow: settings.$button-hollow-hover-box-shadow;
        }
    }
}