.button {
    appearance: none;
    border-radius: $button-radius;
    box-shadow: $button-box-shadow;
    background: $button-background;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    padding: $button-padding;
    text-align: center;
    transition: $button-transition;
    vertical-align: middle;
    &:hover {
        background-color: $button-background-hover;
        box-shadow: $button-hover-box-shadow;
    }
    &.hollow {
        border: $button-hollow-border;
        background-color: transparent;
        box-shadow: $button-hollow-box-shadow;
        color: $button-background;
        &:hover, &:active, &:focus {
            border: $button-hollow-border;
            background-color: rgba($button-background, .2);
            box-shadow: $button-hollow-hover-box-shadow;
        }
    }
}