@use "../../settings";
@use "../../utils/base";
@use "../../utils/breakpoints";

.footer-wrapper {
    background: #222;
    color: settings.$white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
}

.copyright {
    text-align: center;
    padding: 0.5rem;
}

.ft-title {
    display: inline-block;
    font-family: settings.$sec-font-family;
    font-size: base.rem-calc(21);
    margin-bottom: 0.5rem;
}


.social-media {
    text-align: center;
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        li {
            margin: 0.5rem 0.5rem 1rem;
            padding: 0.25rem;
            line-height: 1;
            &:hover {
                img {
                    filter:brightness(0) invert(1);
                }
            }
            a {
                display: inline-block;
                line-height: 1;
            }
            img {
                max-height: base.rem-calc(25);
            }
        }
    }
}


.v-card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 1rem;
    .icon-wrapper {
        margin-right: 0.75rem;
    }
}

.info {
    a {
        color: settings.$white;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        justify-content: space-between;
    }
    .footer-nav, .social-wrapper {
        flex: 1 1 0;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        padding: 2rem 1rem;
    }
    .footer-nav {
        margin-bottom: 0;
        flex: 0 0 auto;
        padding-right: 5rem;
        border-right: 2px solid settings.$medium-gray;
    }
    .social-wrapper {
        flex: 0 0 40%;
        max-width: 40%;
    }
    .info-wrapper {
        flex: 0 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        padding: 2rem 0;
    }
}