@use '../components/search';
@use "../../settings";
@use "../../utils/base";
@use "../../utils/breakpoints";
@use "../../utils/colors";

.header-wrapper {
    background: settings.$white;
}
.logo-wrapper {
    margin-top: base.rem-calc(5);
    a {
        display: inline-block;
        line-height: 1;
        border: 0;
    }
}
.header {
    border-bottom: settings.$global-border;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    .search-wrapper {
        margin: 1rem 0;
    }
}
.nav-wrapper {
    .nav {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        li {
            margin: 0 1rem;
            cursor: pointer;
            font-size: 1rem;
            border: 0;
        }
        a {
            color: settings.$dark-gray;
            &:hover {
                color: colors.get-color('blue');
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        justify-content: flex-start;
        .search-wrapper {
            margin-left: 2rem;
        }
    }
    .nav-wrapper {
        flex: 0 0 100%;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        justify-content: space-between;
        padding: 1rem;
    }
    .nav-wrapper {
        flex: 1 1 0px;
    }
    .nav-wrapper {
        .nav {
            justify-content: flex-end;
        }
    }
}
