@use "../../settings";
@use "../../utils/base";

.search-wrapper{
    margin-bottom: 2rem;
}

.sb-title {
    font-size: base.rem-calc(20);
    font-family: settings.$sec-font-family;
    margin-bottom: 0.5rem;
    display: inline-block;
}
.sb-nav {
    margin-top: 2rem;
    ul li {
        margin: 0 0 0.5rem;
    }
}