@use "sass:meta";
@use '../utils/colors';
@use '../utils/base';
@use '../settings';


.content-title {
    margin-bottom: 1rem;
}
.top-detail {
    margin: 0 0 2rem;
    padding: 1rem 0;
    border-top: settings.$global-border;
    border-bottom: settings.$global-border;
}

.tags {
    display: flex;
    .tags-list {
        margin: 0;
    }
    .tag {
        font-size: 1rem;
    }
}

.content-body {
    margin-top: 1.5rem;
    h1 {
        margin-top: 1rem;
    }
    h2 {
        color: colors.get-color('blue');
        margin-top: 2rem;
    }
    h3 {
        margin-top: 2.5rem;
    }
    img {
        margin: 0 auto 2rem;
    }
    li {
        p {
            margin-bottom: 0;
        }
    }
    ul {
        li {
            list-style-type: disc;
        }
    }
    ol, ul {
        margin-left: 1.25rem;
        margin-bottom: 2rem;
        li {
            margin: base.rem-calc(8 0);
        }
    }
    ol {
        li {
            list-style-type: decimal;
        }
    }
    table {
        border-collapse: collapse;
        margin: 2rem 0;
        th, td {
            padding: 0.75rem;
            border: settings.$global-border;
        }
        th {
            color: settings.$medium-gray;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 90%;
        }
    }
    .image {
        &-left {
            text-align: left;
        }
        &-center {
            text-align: center;
        }
        &-right {
            text-align: right;
        }
    }
}

@include meta.load-css('../base/block/sharing-buttons');