@import '../settings';
@import '../base/block/card';


.pagination {
    margin: 4rem auto 2rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    .page-item {
        margin: 0 1rem;
        &.disabled {
            a {
                cursor: not-allowed;
                color: $ui-gray;
            }
        }
        a{
            cursor: pointer;
            border-bottom: 3px solid transparent;
            &:hover {
                text-decoration: none;
                border-bottom-color: get-color('red');
                color: $dark-gray;
            }
            &[aria-current="page"] {
                font-weight: 700;
                color: $dark-gray;
                border-bottom-color: get-color('red');
            }
        }
    }
}